{% extends "./layouts/base.html" %}

{% block title %}Home{% endblock title %}


{% block content %}
{% load static %}

<div class="container mt-4">
    <div class="row">
        <!-- Card 1 - Gestor de Contactos -->
        <div class="col-md-6">
            <a href="{% url 'home_contact' %}" class="card text-decoration-none">
                <img src= '{% static "./img/gestor_contactos.jpeg" %}'  class="card-img-top" alt="Gestor de Contactos">
                <div class="card-body">
                    <h5 class="card-title">Administrador de Contactos</h5>
                    <p class="card-text">Gestiona tus contactos de forma eficiente.</p>
                </div>
            </a>
        </div>

        <div class="col-md-6">
            <a href="{% url 'home_tasks' %}" class="card text-decoration-none">
                <img src="{% static './img/todo.jpeg' %}" class="card-img-top" alt="Gestor de Contactos">
                <div class="card-body">
                    <h5 class="card-title">TODO List</h5>
                    <p class="card-text">Organiza tus tareas sin problemas.</p>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock content %}