{% extends "../layouts/base.html" %}
{% block title %}agregar contacto{% endblock title %}

{% block content %}

<div class="container mt-4">
    <form action="{% url 'GestForm' %}" method="post">
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-success alert-dismissible fade show"{% endif %}>
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>
</div>

{% endblock content %}